h1 {
    text-align: center;
    margin: 20px auto;
}

table {
    margin: auto;
}

td {
    /* padding: 50px; */
    width: 100px;
    height: 100px;
}

.vertical {
    border-left: 1px solid;
    border-right: 1px solid;
}

.horizontal {
    border-top: 1px solid;
    border-bottom: 1px solid;
}